header {
    background-color:#1F2937;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}

header::after {
    content: "";
    display: table;
    clear: both;
}

.nav-bar {
    width: 80%;
    margin: 0 auto;
}

body {
    margin: 0;
    font-family: "Calibri" , sans-serif;
    background-color: grey;
}

.Hero {
    float: left;
}

nav {
    float: right;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 48px;
    padding-top: 30px;
}

nav a {
    color: wheat;
    text-decoration: none;
}

nav a:hover {
    color:aquamarine;
}

